/*
* @Author: Administrator
* @Date:   2018-06-02 08:56:09
* @Last Modified by:   Administrator
* @Last Modified time: 2018-06-02 11:17:19
*/
/* footer start */
*{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
a{
	text-decoration: none;
}
footer{
	width: 100%;
	height: 767px;
	margin-top: 100px;
}
footer .addInfo{
	position: relative;
	width: 100%;
	height: 122px;
	background: url(../img/bg1.png)no-repeat center/cover;
}
footer .addInfo .xiangji{
	position: absolute;
	bottom: 0;
	right: 70px;
	width: 286px;
	height: 228px;
	background: url(../img/xiangji.png)no-repeat center/cover;
}
footer .addInfo .addInfo_center{
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	
}
footer .addInfo .addInfo_center>ul{
	width: 845px;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
footer .addInfo .addInfo_center>ul>li{
	width: 318px;
	height: 57px;
	display: flex;
	align-items: center;
}
footer .addInfo .addInfo_center>ul>li > a{
	display: block;
	width: 58px;
	height: 58px;
}
footer .addInfo .addInfo_center>ul>li .msgInfo{
	margin-left: 9px;
	color: #fff;
}
footer .addInfo .addInfo_center>ul>li .msgInfo>h2{
	font-size: 11px;
	margin-bottom: 9px;
}
footer .addInfo .addInfo_center>ul>li .msgInfo>h3{
	font-size: 14px;
}
footer .server{
	width: 100%;
	height: 497px;
	background: #267be5;
}
footer .server .s_main{
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	
	display: flex;
	justify-content: space-between;
}
footer .server .s_main .s_main_left{
	padding-top: 60px;
	padding-bottom: 80px;
	box-sizing: border-box;
	width: 504px;
	height: 100%;	
	display: flex;
	align-content: space-between;
	flex-wrap: wrap;
}
footer .server .s_main .s_main_left .s_main_l_t{
	flex-shrink: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	
}
footer .server .s_main .s_main_left .s_main_l_t>dl>dt{
	font-size: 18px;
	margin-bottom: 17px;
}
footer .server .s_main .s_main_left .s_main_l_t>dl>dt>a{
	color: #e9e9eb;
}
footer .server .s_main .s_main_left .s_main_l_t>dl>dd>a{
	color: #e9e9eb;
}
footer .server .s_main .s_main_left .s_main_l_t>dl>dd{
	font-size: 14px;
	height: 25px;
	line-height: 25px;
}
footer .server .s_main .s_main_left .s_main_l_b{
	flex-shrink: 0;
	width: 100%;
	height: 129px;
}
footer .server .s_main .s_main_left .s_main_l_b>p{
	height: 25px;
	line-height: 25px;
	font-size: 17px;
	color: #e9e9e9;
}
footer .server .s_main .s_main_left .s_main_l_b>p:nth-child(2){
	margin-bottom: 27px;
}
footer .server .s_main .s_main_right{
	padding-top: 53px;
	padding-bottom: 63px;
	box-sizing: border-box;
	width: 587px;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
}
footer .server .s_main .s_main_right>input{
	flex-shrink: 0;
	outline: none;
}
input::-webkit-input-placeholder{
	color: #fff;
}
footer .server .s_main .s_main_right>input[type="text"],input[type="email"]{
	background: none;
	border: 1px solid #fff;
	border-radius: 9px;
	width: 272px;
	height: 52px;
	text-indent: 2em;
	color: #fff;
}
footer .server .s_main .s_main_right>input[type="text"]{
	margin-right: 37px;
}
footer .server .s_main .s_main_right>input[type="reset"],input[type="submit"]{
	width: 122px;
	height: 41px;
	background: none;
	border: 1px solid #fff;
	border-radius: 9px;
	color: #fff;
}
footer .server .s_main .s_main_right>input[type="reset"]{
	margin-right: 9px;
}
footer .server .s_main .s_main_right>textarea{
	outline: none;
	resize: none;
	width: 582px;
	height: 243px;
	border: 1px solid #fff;
	border-radius: 9px;
	background: none;
}
footer .copyright{
	padding-top: 47px;
	box-sizing: border-box;
	width: 100%;
	height: 148px;
	background: #313131;
	text-align: center;
	color: #a2c6f6;
}
/* footer end */